<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PlaywrightSuite" parallel="tests" thread-count="3">
    <test name="DemoQASelectTest">
        <classes>
            <class name="tests.DemoQASelectTest"/>
        </classes>
    </test>
    <test name="FormAndIframeTest">
        <classes>
            <class name="tests.FormAndIframeTest"/>
        </classes>
    </test>
    <test name="ScreenshotTest">
        <classes>
            <class name="tests.ScreenshotTest"/>
        </classes>
    </test>
</suite>
