name: Java Playwright CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - uses: actions/checkout@v3

      # 2. Setup JDK
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      # 3. Setup Node.js for Playwright
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      # 4. Install Playwright browsers
      - name: Install Playwright Browsers
        run: npx playwright install

      # 5. Maven build
      - name: Maven build
        run: mvn clean install

      # 6. Run Playwright tests
      - name: Run tests
        run: mvn test
        continue-on-error: true # чтобы шаги после тестов выполнялись даже при падении

      # 7. Save Allure results
      - name: Upload Allure results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results

      # 8. Generate Allure Report
      - name: Generate Allure Report
        run: |
          mvn allure:report

      # 9. Deploy Allure Report to GitHub Pages
      - name: Deploy Allure Report
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GH_PAT }}
          publish_dir: allure-report
          force_orphan: true

      # 10. Upload screenshots as artifacts
      - name: Upload screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: screenshots/**
